{% extends 'base.html' %}

{% block titulo %}
    Nosotros
{% endblock %}

{% block contenido %}

<h3>Nosotros</h3>
<h4>Desarrollo conformado por el equipo</h4>
<ul>
    <li>Gonzalo Bosio</li> 
    <li>Franco Araya</li> 
    <li>Felix Peña</li>
    <p>Soy de Santiago de Chile, tengo 42 años, estudie ingenieria eléctrica. 
        Esta es mi primera experiencia con código, hasta el momento todo bién, voy a seguir en esto me gusta.   </p>
</ul>
<h4>Descripción del proyecto</h4>
<p>El proyecto es un trabajo academico de un ecommerce para supermercado, no está terminado sigue en desarrollo. Construido con Django versión 4.0.4.</p>

{% endblock %}