{% extends 'base.html' %}

{% block titulo %}
userprofile
{% endblock %}

{% block contenido %}
<h3>Aca va el contenido de user profile</h3>

<!--Muestra Perfil de Usuario con todos los Argumentos tanto del app user como del django auth-->

<h5>foto perfil: <img src="{{request.user.user_profile.image.url}}" style="height: 10rem;"></h5>

<h5 style="color:red ;">Campos de usuario admin, no editables:</h5>
<h5>Usuario:  {{request.user.user_profile.user}}</h5>
<h5>Fecha de Registro:  {{request.user.date_joined}}</h5>
<h5>Nombre:  {{request.user.first_name}}</h5>
<h5>Apellido:  {{request.user.last_name}}</h5>
<h5>es_superusuario:  {{request.user.is_superuser}}</h5>
<h5>user_id :  {{request.user.id}}</h5>
<h5>id :  {{request.user.user_profile.id}}</h5>
<h5>está activo :  {{request.user.is_active}}</h5>
<h5>email:  {{request.user.email}}</h5>
<h5>Una fecha y hora del último inicio de sesión del usuario.:  {{request.user.last_login}}</h5>


<h5 style="color: red;">Campos editables:</h5>
<h5>Nombre:  {{request.user.user_profile.nombre}}</h5>
<h5>Apellido:  {{request.user.user_profile.apellido}}</h5>
<h5>email:  {{request.user.user_profile.mail}}</h5>
<h5>DNI:  {{request.user.user_profile.dni}}</h5>
<h5>telefono:  {{request.user.user_profile.phone}}</h5>
<h5>direccion:  {{request.user.user_profile.address}}</h5>
<h5>activo?:  {{request.user.user_profile.is_active}}</h5>

<section style="background-color: rgb(236, 212, 212);">
<!--
<a href="/users/update-user-profile/{{object.id}}/" class="btn btn-primary">Editar</a>
-->
<h6 style="color:red;">La edición sera funcional despues que el administrador lo agregue como usuario. Espere 24 horas</h6>
{% if request.user.user_profile.id %}
<a href="/users/update-user-profile/{{request.user.user_profile.id}}/" class="btn btn-primary">Editar</a>

{% endif %}
</section>
<!-- este es el motodo list view pero no logre filtrar por un perfil de usuario,  por el contratio me muestra todos los usuarios y sus argumentos-->
<!--
    {% for user in object_list %}
        {{User_profile}}
    {% endfor %}
<br><br><br>{{request.user.user_profile.address}}
<br>{{request.user.user_profile.address}}
<h3>{{message}}</h3>
<div class="d-flex" style="margin-top:5rem; margin-left:7rem">
    {% for user in object_list %}
    <div class="card" style="width: 18rem;">
        {% if user.image %}
        <img src="{{user.image.url}}" class="card-img-top" >
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{user.id}}</h5>
            <h5 class="card-title">{{user.user}}</h5>
            <h5 class="card-title">{{user.first_name}}</h5>
            <h5 class="card-title">{{user.last_name}}</h5>
            <h5 class="card-title">{{user.phone}}</h5>
            <h5 class="card-title">{{user.email}}</h5>
            <h5 class="card-text">{{user.address}}</h5>
            <h5 class="card-text">{{user.dni}}</h5>
            <h5 class="card-title">{{user.is_superuser}}</h5>
            <h5 class="card-title">{{user.is_active}}</h5>
            <h5 class="card-text">{{user.last_login}}</h5>
            <h5 class="card-text">{{user.date_joined}}</h5>
            
        </div>
    </div>
    {% endfor %}
</div>
-->



{% endblock %}


